<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>999484140672-ib4ifmp2kncbcpn1asr7egfmid0oepql.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.999484140672-ib4ifmp2kncbcpn1asr7egfmid0oepql</string>
	<key>API_KEY</key>
	<string>AIzaSyD5KiAzCcccEsoRJxBwjMYWY8a-7C6G77U</string>
	<key>GCM_SENDER_ID</key>
	<string>999484140672</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.bigspoon.app.bigspoon-foods.stg</string>
	<key>PROJECT_ID</key>
	<string>bigspoon-stage</string>
	<key>STORAGE_BUCKET</key>
	<string>bigspoon-stage.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:999484140672:ios:0e45a7574e480061e40a65</string>
</dict>
</plist>