<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>628677877473-t7efpsncjt2fu0blkvkbd9oupb2ik9uh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.628677877473-t7efpsncjt2fu0blkvkbd9oupb2ik9uh</string>
	<key>API_KEY</key>
	<string>AIzaSyD9Bvk6-uuCLi2NJNFU5yLAniP4yhXft54</string>
	<key>GCM_SENDER_ID</key>
	<string>628677877473</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.bigspoon.app.bigspoon-foods.dev</string>
	<key>PROJECT_ID</key>
	<string>bigspoon-dev</string>
	<key>STORAGE_BUCKET</key>
	<string>bigspoon-dev.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:628677877473:ios:0f38eb086200320bec61a0</string>
</dict>
</plist>